<div id="container">
    {{> nav}}
    <div class="my-listings">
        <h1>My car listings</h1>
    <div class="car-listings">
        {{#if myCars}}
            {{# each myCars}}
                {{> myCar}}
            {{/each}}
        </div>
        {{else}}
            <p class="no-cars"> No listings in database.</p>
        {{/if}}
    </div>
</div>

{{> footer}}
</div>
